.container {
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    height: 100vh;
  }
  
  header, nav, main, aside, footer {
    background-color: #eee;
    padding: 20px;
  }
  
  header{
    grid-column: 2 / 1;
  }

  nav {
    grid-column: 2 / 4;
  }

  .perfil {
    border-radius: 50px;
    width: 30px;
  }

  .perfil1{
    border-radius: 50px;
    width: 20px;
    position: relative;
    bottom: 15px;
  }

  .titulo-video{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    bottom: 5px;
  }

  .visu{
    position: relative;
    color: #858585;
    bottom: 25px;
  }
  
  main {
    grid-column: 2 / 4;
    position: relative;
  }
  
  aside {
    grid-column: 1;
    grid-row: 2 / 4;
    grid-template-rows: auto 200px auto;
  }
  
  footer {
    grid-column: 1 / -1;
    
  }
   img{
    padding: 10px;
   }